html {
    scroll-behavior: smooth;
}

.go-top-button {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #5c5959;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 22px;
}

#background {
    background-attachment: fixed;
    color: #fff;
    background-image: url("../assets/images/pexels-henry-&-co-1939485.jpg");
    background-size: 100%;
    background-position: center;
}

.date {
    font-size: 20px;
    color: #5c5959;
    margin-left: 5%;
    padding-top: 20px;
}


.buttons {
    text-align: center;
}

.text {
    color: rgb(20, 21, 21);
}


.bottom {
    padding: 20%;
}